<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    </head>
    <body>
    <div class="header">
        <a href="#default" class="logo">Система видеонаблюдения</a>

        <div class="header-right">
            <a href="http://t.me/davsf">BySaf</a>
        </div>
    </div>
    <div class = "megaDIV">
        <img id="frame" src="">
    </div>

        <script>
            //let ws = new WebSocket("ws://localhost:8000/ws");
            //var ws = new WebSocket('ws://' + window.location.hostname + ':8000/ws')
            var ws = new WebSocket('ws://' + document.domain + ':' + location.port +"/ws");
            let image = document.getElementById("frame");
            image.onload = function(){
                URL.revokeObjectURL(this.src); // release the blob URL once the image is loaded
            }
            ws.onmessage = function(event) {
                image.src = URL.createObjectURL(event.data);
            };
        </script>
    </body>
</html>

